body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:800px;
  top:40px;
  width:420px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:901px;
  top:90px;
  width:129px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:480px;
  top:790px;
  width:200px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:489px;
  top:786px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
