body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:33px;
  width:677px;
  height:84px;
  font-size:16px;
  color:#949494;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:84px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:150px;
  width:751px;
  height:610px;
  line-height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:610px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:780px;
  width:731px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:714px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:731px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:814px;
  width:100px;
  height:157px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:157px;
}
#u6 {
  position:absolute;
  left:2px;
  top:70px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:113px;
  top:810px;
  width:103px;
  height:157px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:157px;
}
#u8 {
  position:absolute;
  left:2px;
  top:70px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:226px;
  top:810px;
  width:103px;
  height:157px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:157px;
}
#u10 {
  position:absolute;
  left:2px;
  top:70px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:338px;
  top:810px;
  width:103px;
  height:157px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:157px;
}
#u12 {
  position:absolute;
  left:2px;
  top:70px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:470px;
  top:810px;
  width:103px;
  height:157px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:157px;
}
#u14 {
  position:absolute;
  left:2px;
  top:70px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:229px;
  top:844px;
  width:94px;
  height:98px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:98px;
}
#u16 {
  position:absolute;
  left:2px;
  top:41px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:343px;
  top:842px;
  width:94px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:475px;
  top:843px;
  width:94px;
  height:98px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:98px;
}
#u20 {
  position:absolute;
  left:2px;
  top:41px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:229px;
  top:942px;
  width:96px;
  height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:343px;
  top:942px;
  width:96px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:475px;
  top:942px;
  width:96px;
  height:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:348px;
  top:946px;
  width:91px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:258px;
  top:946px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:508px;
  top:946px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:226px;
  top:810px;
  width:327px;
  height:29px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:29px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:232px;
  top:815px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:348px;
  top:815px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:475px;
  top:814px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:610px;
  top:755px;
  width:124px;
  height:16px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:2px;
  top:1000px;
  width:731px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:714px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:731px;
  height:1px;
}
