body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:720px;
  top:660px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:232px;
  top:18px;
  width:939px;
  height:22px;
  opacity:0.300000011920929;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:720px;
  top:420px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:745px;
  top:435px;
  width:15px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:753px;
  top:431px;
  width:1px;
  height:1px;
}
