body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:830px;
  width:1370px;
  height:70px;
  opacity:0.699999988079071;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:830px;
  width:130px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:369px;
  top:853px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:503px;
  top:853px;
  width:325px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
