body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:978px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:31px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:11px;
  top:90px;
  width:949px;
  height:320px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:320px;
}
#u5 {
  position:absolute;
  left:2px;
  top:152px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:11px;
  top:460px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:11px;
  top:494px;
  width:949px;
  height:320px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:320px;
}
#u9 {
  position:absolute;
  left:2px;
  top:152px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:11px;
  top:824px;
  width:949px;
  height:320px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:320px;
}
#u11 {
  position:absolute;
  left:2px;
  top:152px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
